* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

li {
  display: inline-block;
  list-style: none;
}

header {
  border: 2px solid blue;
}

nav a {
  text-decoration: none;
  color: black;
}

.header-grid {
  padding: 4px 0px 4px 16px;
  display: grid;
  grid-template-columns: 46px 46px 1fr 46px 46px 46px 70px;
  column-gap: 6px;
  grid-template-rows: 46px;
  grid-template-areas: "about store . gmail images apps sign-in";
  align-items: center;
}

.about {
  grid-area: about;
}

.store {
  grid-area: store;
}

.gmail {
  grid-area: gmail;
}

.images {
  grid-area: images;
}

.apps {
  grid-area: apps;
  margin: 0 auto;
}

.apps svg {
  display: flex;
  width: 24px;
  height: auto;
  align-items: center;
}

.sign-in {
  grid-area: sign-in;
}

.sign-in button {
  background-color: #4484f0;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 2px;
  font-weight: bold;
}

main {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas:
    "fp-google-image fp-google-image"
    "searchbar searchbar"
    "g-search-btn lucky-btn";
  align-items: center;
  justify-items: center;
  border: 2px solid olivedrab;
}

.fp-google-image {
  grid-area: fp-google-image;
  align-self: end;
}

.searchbar {
  grid-area: searchbar;
  padding: 6px 6px;
  display: flex;
  width: 482px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 24px;
}

.search-icon {
  width: 24px;
  height: auto;
  margin: 0 8px;
}

.search-input {
  flex: 1;
}

.search-input input {
  border: none;
  outline: none;
  height: 26px;
  width: 100%;
}

.mic-icon {
  margin: 0 8px;
}

.g-search-btn {
  grid-area: g-search-btn;
  align-self: start;
  justify-self: end;
}

.lucky-btn {
  grid-area: lucky-btn;
  align-self: start;
  justify-self: start;
}

.search-input {
}

.mic-icon img {
  width: 24px;
  height: auto;
}

.buttons {
}

footer {
  border: 2px solid peru;
  padding: 10px 10px;
}
